<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Home Page</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="bg-dark px-5">

    <head class="d-flex">

        <h1 class="text-center text-light
        mt-5 py-3 bg-primary rounded-4">Here Are Our Users!</h1>

    </head>

    <main class="d-flex justify-content-center">

        <table class="table table-info table-striped
        table-bordered bordered-secondary mt-5">

            <tr class="table table-dark">
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created at</th>
            </tr>

            {% for one_user in all_users %}
            <tr>
                <td>{{ one_user.id }}</td>
                <td>{{ one_user.first_name }}</td>
                <td>{{ one_user.last_name }}</td>
                <td>{{ one_user.email }}</td>
                <td>{{ one_user.created_at }}</td>
            </tr>
            {% endfor %}

        </table>

    </main>

    <footer class="d-flex justify-content-end">
        <a href = '/users/new' class="btn bg-primary
        text-light">Create a New User</a>
    </footer>

</body>
</html>